.modal-button {
    width: 100%;
    border-radius: 10em;
    border: none;
    outline: none;
    transition: .25s ease-in-out;
    padding-block: get-size('300');
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

button:disabled {
    color: get-color('medium-grey');
    background-color: get-color('dark-blue');
    border: none;
    cursor: default;
}
.modal button:not(:disabled):hover,
.modal button:focus {
    color: get-color('orange');
    background-color: get-color('white');
}